.nav {
  display: flex;
  flex-direction: column;
  width: 280px;
  &-header {
    width: 280px;
    height: 120px;
    background-color: $bg-black1;
    border-radius: $rounders8;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 8px;
    &-item {
      width: 232px;
      height: 40px;
      color: $text-gray;
      cursor: pointer;
      & div {
        display: flex;
        align-items: center;
        column-gap: 22px;
        color: $text-gray;
        & i {
          font-size: 20px;
        }
        & p {
          font-size: 20px;
          font-weight: 700;
          margin: 0;
        }
      }
      &:hover {
        & div {
          color: white;
        }
      }
    }
  }
  &-library {
    width: 280px;
    background-color: $bg-black1;
    height: 317px;
    border-radius: 8px 8px 0 0;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 280px;
      height: 56px;
      padding: 8px 16px;
      color: $text-gray;
      &-left {
        display: flex;
        column-gap: 10px;
        & h3 {
          font-size: 20px;
          font-weight: 700;
        }
        cursor: pointer;
      }
      &-plus {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s linear;
        &:hover {
          background-color: #1a1a1a;
        }
      }
    }
    &-content {
      height: 261px;
      padding: 8px;
      overflow-y: scroll;
      color: white;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      position: relative;
      // scroll
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        position: absolute;
        width: 12px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          background: rgba($color: $text-gray, $alpha: 0.5);
        }
      }
      & .content-box {
        background-color: #242424;
        border-radius: $rounders8;
        padding: 20px 16px;
        & p {
          margin-bottom: 8px;
          font-size: 16px;
          font-weight: 700;
          width: 224px;
        }
        & button {
          height: 22px;
          padding: 16px;
          background-color: #fff;
          border-radius: 100px;
          font-size: 14px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
      }
    }
    &-footer {
      height: 218px;
      width: 100%;
      background-color: $bg-black1;
      padding: 32px 24px;
      border-radius: 0 0 8px 8px;
      &-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px 0;
        margin-bottom: 32px;
        & span {
          font-size: 11px;
          color: $text-gray;
        }
      }
      & .nav-footer-button {
        width: 95px;
        height: 32px;
        padding: 4px 12px;
        border: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3px;
        border-radius: 100px;
        color: white;
      }
    }
  }
}

// active
.home-link.active {
  color: white;
}

.search-link.active {
  color: white;
}
