$primary-color: #1ed760;
$bg-black: #000000;
$bg-black1: #121212;
// text
$text-gray: #a7a7a7;
// linear
$linear1: linear-gradient(90deg, #ae2997 0%, rgba(81, 155, 245, 0.73) 100%);
// transform
$rotate-image: rotate(26deg);
// border-radius
$rounders8: 8px;
