<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="../css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js" integrity="sha512-lYMiwcB608+RcqJmP93CMe7b4i9G9QK1RbixsNu4PzMRJMsqr/bUrkXUuFzCNsRUo3IXNUr5hz98lINURv5CNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav class="nav">
        <div class="nav-header">
            <div class="nav-header-item">
                <div class="icon-home">
                    <iconify-icon icon="material-symbols:home"></iconify-icon>
                </div>
                <a href="#" style="color: white;">Home</a>
            </div>
            <div class="nav-header-item">
                <i>
                    <img src="../asset/search.svg" alt="">
                </i>
                <a href="#">Search</a>
            </div>
        </div>
        <div class="nav-library">
            <div class="nav-library-top">
                <div class="nav-library-top-left">
                    <img src="../asset/library.svg" alt="">
                    <h3>Your Library</h3>
                </div>
                <div class="nav-library-top-plus"><img src="../asset/plus.svg" alt=""></div>
            </div>
            <div class="nav-library-content">
            </div>

        </div>
        <div class="nav-footer">
            <div class="nav-footer-content">
                <span>Legal</span>
                <span>Privacy Center</span>
                <span>Privacy Policy</span>
                <span>Cookies</span>
                <span>About Ads</span>
                <span>Accessibility</span>
                <span>Cookies</span>
            </div>
            <div class="nav-footer-button">
                <img src="../asset/world.svg" alt="">
                <button>English</button>
            </div>
        </div>
    </nav>
</body>

</html>